{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost,1433;Database=MiniERP;User Id=sa;Password=YOUR_SECURE_PASSWORD;TrustServerCertificate=True;"
  }
}
